from loading import load_raw


def run():
    dataset = load_raw("{day}.txt")
    print(pt_1(dataset))
    print(pt_2(dataset))


def pt_1(data: str) -> ...:
    ...


def pt_2(data: str) -> ...:
    ...


if __name__ == "__main__":
    run()
